$color-primary: #ff6060;
$color-sec: #f6f6f6;
$color-tert: #000;

$size-title: 48px;
$size-subtitle: 36px;
$size-desc: 24px;
$size-subtitle-mobile: 20px;
$size-p: 18px;
$size-nav: 17px;
$size-tag: 14px;
$size-desc-mobile: 13px;
$size-nav-mobile: 12px;
$size-tag-mobile: 10px;
